# 4.8 시계열 자료 다루기

```{margin}
`DatetimeIndex`
```

## `DatetimeIndex` 인덱스

시계열 자료는 인덱스가 날짜 혹은 시간인 데이터를 말한다. 판다스에서 시계열 자료를 생성하려면 인덱스를 `DatetimeIndex` 자료형으로 만들어야 한다. `DatetimeIndex`는 특정한 순간에 기록된 타임스탬프(timestamp) 형식의 시계열 자료를 다루기 위한 인덱스이다. 타임스탬프 인덱스의 라벨값이 반드시 일정한 간격일 필요는 없다.

`DatetimeIndex` 인덱스는 다음과 같은 보조 함수를 사용하여 생성한다.

* `pd.to_datetime` 함수
* `pd.date_range` 함수

```{margin}
to_datetime
```

`pd.to_datetime` 함수를 쓰면 날짜/시간을 나타내는 문자열을 자동으로 datetime 자료형으로 바꾼 후 `DatetimeIndex` 자료형 인덱스를 생성한다.

In [4]:
import pandas as pd
import numpy as np
date_str = ["2018, 1, 1", "2018, 1, 4", "2018, 1, 5", "2018, 1, 6"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

이렇게 만들어진 인덱스를 사용하여 시리즈나 데이터프레임을 생성하면 된다.

In [5]:
np.random.seed(0)
s = pd.Series(np.random.randn(4), index=idx)
s

2018-01-01    1.764052
2018-01-04    0.400157
2018-01-05    0.978738
2018-01-06    2.240893
dtype: float64

```{margin}
date_range
```

`pd.date_range` 함수를 쓰면 모든 날짜/시간을 일일히 입력할 필요없이 시작일과 종료일 또는 시작일과 기간을 입력하면 범위 내의 인덱스를 생성해 준다.

In [6]:
pd.date_range("2018-4-1", "2018-4-30")

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

In [7]:
pd.date_range(start="2018-4-1", periods=30)

DatetimeIndex(['2018-04-01', '2018-04-02', '2018-04-03', '2018-04-04',
               '2018-04-05', '2018-04-06', '2018-04-07', '2018-04-08',
               '2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16',
               '2018-04-17', '2018-04-18', '2018-04-19', '2018-04-20',
               '2018-04-21', '2018-04-22', '2018-04-23', '2018-04-24',
               '2018-04-25', '2018-04-26', '2018-04-27', '2018-04-28',
               '2018-04-29', '2018-04-30'],
              dtype='datetime64[ns]', freq='D')

`freq` 인수로 특정한 날짜만 생성되도록 할 수도 있다. 많이 사용되는 `freq` 인수값은 다음과 같다.

* `s`: 초
* `T`: 분
* `H`: 시간
* `D`: 일(day)
* `B`: 주말이 아닌 평일
* `W`: 주(일요일)
* `W-MON`: 주(월요일)
* `M`: 각 달(month)의 마지막 날
* `MS`: 각 달의 첫날
* `BM`: 주말이 아닌 평일 중에서 각 달의 마지막 날
* `BMS`: 주말이 아닌 평일 중에서 각 달의 첫날
* `WOM-2THU`: 각 달의 두번째 목요일
* `Q-JAN`: 각 분기의 첫달의 마지막 날
* `Q-DEC`: 각 분기의 마지막 달의 마지막 날

보다 자세한 내용은 다음 웹사이트를 참조한다.

* [https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects)

In [8]:
pd.date_range("2021-10-1", "2021-10-31", freq="B")

DatetimeIndex(['2021-10-01', '2021-10-04', '2021-10-05', '2021-10-06',
               '2021-10-07', '2021-10-08', '2021-10-11', '2021-10-12',
               '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-18',
               '2021-10-19', '2021-10-20', '2021-10-21', '2021-10-22',
               '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28',
               '2021-10-29'],
              dtype='datetime64[ns]', freq='B')

In [9]:
pd.date_range("2021-1-1", "2021-12-31", freq="W")

DatetimeIndex(['2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
               '2021-02-28', '2021-03-07', '2021-03-14', '2021-03-21',
               '2021-03-28', '2021-04-04', '2021-04-11', '2021-04-18',
               '2021-04-25', '2021-05-02', '2021-05-09', '2021-05-16',
               '2021-05-23', '2021-05-30', '2021-06-06', '2021-06-13',
               '2021-06-20', '2021-06-27', '2021-07-04', '2021-07-11',
               '2021-07-18', '2021-07-25', '2021-08-01', '2021-08-08',
               '2021-08-15', '2021-08-22', '2021-08-29', '2021-09-05',
               '2021-09-12', '2021-09-19', '2021-09-26', '2021-10-03',
               '2021-10-10', '2021-10-17', '2021-10-24', '2021-10-31',
               '2021-11-07', '2021-11-14', '2021-11-21', '2021-11-28',
               '2021-12-05', '2021-12-12', '2021-12-19', '2021-12-26'],
              dtype='datetime64[ns]', freq='W-SUN')

In [10]:
pd.date_range("2021-1-1", "2021-12-31", freq="W-MON")

DatetimeIndex(['2021-01-04', '2021-01-11', '2021-01-18', '2021-01-25',
               '2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22',
               '2021-03-01', '2021-03-08', '2021-03-15', '2021-03-22',
               '2021-03-29', '2021-04-05', '2021-04-12', '2021-04-19',
               '2021-04-26', '2021-05-03', '2021-05-10', '2021-05-17',
               '2021-05-24', '2021-05-31', '2021-06-07', '2021-06-14',
               '2021-06-21', '2021-06-28', '2021-07-05', '2021-07-12',
               '2021-07-19', '2021-07-26', '2021-08-02', '2021-08-09',
               '2021-08-16', '2021-08-23', '2021-08-30', '2021-09-06',
               '2021-09-13', '2021-09-20', '2021-09-27', '2021-10-04',
               '2021-10-11', '2021-10-18', '2021-10-25', '2021-11-01',
               '2021-11-08', '2021-11-15', '2021-11-22', '2021-11-29',
               '2021-12-06', '2021-12-13', '2021-12-20', '2021-12-27'],
              dtype='datetime64[ns]', freq='W-MON')

In [11]:
pd.date_range("2021-1-1", "2021-12-31", freq="MS")

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [13]:
pd.date_range("2020-1-1", "2020-12-31", freq="M")

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='M')

In [15]:
pd.date_range("2021-1-1", "2021-12-31", freq="BMS")

DatetimeIndex(['2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-03', '2021-06-01', '2021-07-01', '2021-08-02',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01'],
              dtype='datetime64[ns]', freq='BMS')

In [11]:
pd.date_range("2018-4-1", "2018-12-31", freq="BM")

DatetimeIndex(['2018-04-30', '2018-05-31', '2018-06-29', '2018-07-31',
               '2018-08-31', '2018-09-28', '2018-10-31', '2018-11-30',
               '2018-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [16]:
pd.date_range("2018-1-1", "2018-12-31", freq="WOM-2THU")

DatetimeIndex(['2018-01-11', '2018-02-08', '2018-03-08', '2018-04-12',
               '2018-05-10', '2018-06-14', '2018-07-12', '2018-08-09',
               '2018-09-13', '2018-10-11', '2018-11-08', '2018-12-13'],
              dtype='datetime64[ns]', freq='WOM-2THU')

In [17]:
pd.date_range("2018-1-1", "2018-12-31", freq="Q-JAN")

DatetimeIndex(['2018-01-31', '2018-04-30', '2018-07-31', '2018-10-31'], dtype='datetime64[ns]', freq='Q-JAN')

In [18]:
pd.date_range("2018-1-1", "2018-12-31", freq="Q-DEC")

DatetimeIndex(['2018-03-31', '2018-06-30', '2018-09-30', '2018-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

## `shift` 연산

시계열 데이터의 인덱스는 시간이나 날짜를 나타내기 때문에 날짜 이동 등의 다양한 연산이 가능하다. 예를 들어 `shift` 연산을 사용하면 인덱스는 그대로 두고 데이터만 이동할 수도 있다.

In [20]:
np.random.seed(0)
ts = pd.Series(np.random.randn(4), index=pd.date_range(
    "2021-1-1", periods=4, freq="M"))
ts

2021-01-31    1.764052
2021-02-28    0.400157
2021-03-31    0.978738
2021-04-30    2.240893
Freq: M, dtype: float64

In [22]:
ts.shift(1)

2021-01-31         NaN
2021-02-28    1.764052
2021-03-31    0.400157
2021-04-30    0.978738
Freq: M, dtype: float64

In [23]:
ts.shift(-1)

2021-01-31    0.400157
2021-02-28    0.978738
2021-03-31    2.240893
2021-04-30         NaN
Freq: M, dtype: float64

In [24]:
ts.shift(1, freq="M")

2021-02-28    1.764052
2021-03-31    0.400157
2021-04-30    0.978738
2021-05-31    2.240893
Freq: M, dtype: float64

In [25]:
ts.shift(1, freq="W")

2021-02-07    1.764052
2021-03-07    0.400157
2021-04-04    0.978738
2021-05-02    2.240893
dtype: float64

## `resample` 연산

`resample` 연산을 쓰면 시간 간격을 재조정하는 리샘플링(resampling)이 가능하다. 이 때 시간 구간이 작아지면 데이터 양이 증가한다고 해서 업-샘플링(up-sampling)이라 하고 시간 구간이 커지면 데이터 양이 감소한다고 해서 다운-샘플링(down-sampling)이라 부른다.

In [28]:
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2021-1-1", periods=100, freq="D"))
ts.tail(20)
# ts

2021-03-22    0.286344
2021-03-23    0.608844
2021-03-24   -1.045253
2021-03-25    1.211145
2021-03-26    0.689818
2021-03-27    1.301846
2021-03-28   -0.628088
2021-03-29   -0.481027
2021-03-30    2.303917
2021-03-31   -1.060016
2021-04-01   -0.135950
2021-04-02    1.136891
2021-04-03    0.097725
2021-04-04    0.582954
2021-04-05   -0.399449
2021-04-06    0.370056
2021-04-07   -1.306527
2021-04-08    1.658131
2021-04-09   -0.118164
2021-04-10   -0.680178
Freq: D, dtype: float64

다운-샘플링의 경우에는 원래의 데이터가 그룹으로 묶이기 때문에 그룹바이(groupby)때와 같이 그룹 연산을 해서 대표값을 구해야 한다.

In [29]:
ts.resample('W').mean()

2021-01-03   -0.333717
2021-01-10    0.141578
2021-01-17    0.038392
2021-01-24   -0.202421
2021-01-31   -0.576516
2021-02-07    0.039165
2021-02-14   -0.142443
2021-02-21   -0.044605
2021-02-28   -0.767644
2021-03-07   -0.200177
2021-03-14   -0.082452
2021-03-21    0.238809
2021-03-28    0.346379
2021-04-04    0.349213
2021-04-11   -0.079355
Freq: W-SUN, dtype: float64

In [30]:
ts.resample('M').first()

2021-01-31    0.640132
2021-02-28    0.781198
2021-03-31   -0.052567
2021-04-30   -0.135950
Freq: M, dtype: float64

날짜가 아닌 시/분 단위에서는 구간위 왼쪽 한계값(가장 빠른 값)은 포함하고 오른쪽 한계값(가장 늦은 값)은 포함하지 않는다. 즉, 가장 늦은 값은 다음 구간에 포함된다. 예를 들어 10분 간격으로 구간을 만들면 10의 배수가 되는 시각은 구간의 시작점이 된다.

In [31]:
ts = pd.Series(np.random.randn(60), index=pd.date_range(
    "2021-1-1", periods=60, freq="T"))
ts.head(20)

2021-01-01 00:00:00    0.666383
2021-01-01 00:01:00   -0.460720
2021-01-01 00:02:00   -1.334258
2021-01-01 00:03:00   -1.346718
2021-01-01 00:04:00    0.693773
2021-01-01 00:05:00   -0.159573
2021-01-01 00:06:00   -0.133702
2021-01-01 00:07:00    1.077744
2021-01-01 00:08:00   -1.126826
2021-01-01 00:09:00   -0.730678
2021-01-01 00:10:00   -0.384880
2021-01-01 00:11:00    0.094352
2021-01-01 00:12:00   -0.042171
2021-01-01 00:13:00   -0.286887
2021-01-01 00:14:00   -0.061626
2021-01-01 00:15:00   -0.107305
2021-01-01 00:16:00   -0.719604
2021-01-01 00:17:00   -0.812993
2021-01-01 00:18:00    0.274516
2021-01-01 00:19:00   -0.890915
Freq: T, dtype: float64

In [32]:
ts.resample('10T').sum()

2021-01-01 00:00:00   -2.854574
2021-01-01 00:10:00   -2.937515
2021-01-01 00:20:00    0.015585
2021-01-01 00:30:00   -3.669060
2021-01-01 00:40:00   -1.527945
2021-01-01 00:50:00   -1.379783
Freq: 10T, dtype: float64

왼쪽이 아니라 오른쪽 한계값을 구간에 포함하려면 `closed="right"` 인수를 사용한다. 이 때는 10의 배수가 되는 시각이 앞 구간에 포함된다.

In [33]:
ts.resample('10T', closed="right").sum()

2020-12-31 23:50:00    0.666383
2021-01-01 00:00:00   -3.905837
2021-01-01 00:10:00   -3.709990
2021-01-01 00:20:00   -1.486232
2021-01-01 00:30:00   -1.450811
2021-01-01 00:40:00   -1.739316
2021-01-01 00:50:00   -0.727489
Freq: 10T, dtype: float64

`ohlc` 메서드는 구간의 시고저종(open, high, low, close)값을 구한다.

In [34]:
ts.resample('5T').ohlc()

                         open      high       low     close
2021-01-01 00:00:00  0.666383  0.693773 -1.346718  0.693773
2021-01-01 00:05:00 -0.159573  1.077744 -1.126826 -0.730678
2021-01-01 00:10:00 -0.384880  0.094352 -0.384880 -0.061626
2021-01-01 00:15:00 -0.107305  0.274516 -0.890915 -0.890915
2021-01-01 00:20:00 -1.157355  2.256723 -1.157355 -0.704700
2021-01-01 00:25:00  0.943261  0.943261 -1.188945 -1.183881
2021-01-01 00:30:00 -2.659172  0.606320 -2.659172 -0.684011
2021-01-01 00:35:00  1.659551  1.659551 -1.214077 -1.214077
2021-01-01 00:40:00 -0.440923  0.578521 -0.440923  0.578521
2021-01-01 00:45:00  0.349654  1.364532 -1.437791 -0.689449
2021-01-01 00:50:00 -0.652294 -0.477974 -1.843070 -0.479656
2021-01-01 00:55:00  0.620358  0.931848  0.003771  0.339965

업-샘플링의 경우에는 실제로 존재하지 않는 데이터를 만들어야 한다. 이 때는 앞에서 나온 데이터를 뒤에서 그대로 쓰는 forward filling 방식과 뒤에서 나올 데이터를 앞에서 미리 쓰는 backward filling 방식을 사용할 수 있다. 각각 `ffill`, `bfill` 메서드를 이용한다.

In [35]:
ts.resample('30s').ffill().head(20)

2021-01-01 00:00:00    0.666383
2021-01-01 00:00:30    0.666383
2021-01-01 00:01:00   -0.460720
2021-01-01 00:01:30   -0.460720
2021-01-01 00:02:00   -1.334258
2021-01-01 00:02:30   -1.334258
2021-01-01 00:03:00   -1.346718
2021-01-01 00:03:30   -1.346718
2021-01-01 00:04:00    0.693773
2021-01-01 00:04:30    0.693773
2021-01-01 00:05:00   -0.159573
2021-01-01 00:05:30   -0.159573
2021-01-01 00:06:00   -0.133702
2021-01-01 00:06:30   -0.133702
2021-01-01 00:07:00    1.077744
2021-01-01 00:07:30    1.077744
2021-01-01 00:08:00   -1.126826
2021-01-01 00:08:30   -1.126826
2021-01-01 00:09:00   -0.730678
2021-01-01 00:09:30   -0.730678
Freq: 30S, dtype: float64

In [36]:
ts.resample('30s').bfill().head(20)

2021-01-01 00:00:00    0.666383
2021-01-01 00:00:30   -0.460720
2021-01-01 00:01:00   -0.460720
2021-01-01 00:01:30   -1.334258
2021-01-01 00:02:00   -1.334258
2021-01-01 00:02:30   -1.346718
2021-01-01 00:03:00   -1.346718
2021-01-01 00:03:30    0.693773
2021-01-01 00:04:00    0.693773
2021-01-01 00:04:30   -0.159573
2021-01-01 00:05:00   -0.159573
2021-01-01 00:05:30   -0.133702
2021-01-01 00:06:00   -0.133702
2021-01-01 00:06:30    1.077744
2021-01-01 00:07:00    1.077744
2021-01-01 00:07:30   -1.126826
2021-01-01 00:08:00   -1.126826
2021-01-01 00:08:30   -0.730678
2021-01-01 00:09:00   -0.730678
2021-01-01 00:09:30   -0.384880
Freq: 30S, dtype: float64

## `dt` 접근자

datetime 자료형 시리즈에는 dt 접근자가 있어 datetime 자료형이 가진 몇가지 유용한 속성과 메서드를 사용할 수 있다.

In [37]:
s = pd.Series(pd.date_range("2021-1-1", periods=100, freq="D"))
s

0    2021-01-01
1    2021-01-02
2    2021-01-03
3    2021-01-04
4    2021-01-05
        ...
95   2021-04-06
96   2021-04-07
97   2021-04-08
98   2021-04-09
99   2021-04-10
Length: 100, dtype: datetime64[ns]

예를 들어 `year`, `month`, `day`, `weekday` 등의 속성을 이용하면 년, 월, 일, 요일 정보를 빼낼 수 있다.

In [30]:
s.dt.year

0     2020
1     2020
2     2020
3     2020
4     2020
      ...
95    2021
96    2021
97    2021
98    2021
99    2021
Length: 100, dtype: int64

In [31]:
s.dt.weekday

0     4
1     5
2     6
3     0
4     1
     ..
95    1
96    2
97    3
98    4
99    5
Length: 100, dtype: int64

`strftime` 메서드를 이용하여 문자열을 만드는 것도 가능하다.

In [32]:
s.dt.strftime("%Y년 %m월 %d일")

0     2020년 12월 25일
1     2020년 12월 26일
2     2020년 12월 27일
3     2020년 12월 28일
4     2020년 12월 29일
          ...
95    2021년 03월 30일
96    2021년 03월 31일
97    2021년 04월 01일
98    2021년 04월 02일
99    2021년 04월 03일
Length: 100, dtype: object

````{admonition} 연습 문제 4.8.1

다음 명령으로 만들어진 데이터프레임에 대해 월별 value의 합계를 구하라.
(힌트: `groupby` 메서드와 `dt` 접근자를 사용하라)

```
np.random.seed(0)
df = pd.DataFrame({
    "date": pd.date_range("2020-12-25", periods=100, freq="D"), 
    "value": np.random.randint(100, size=(100,))
})
```
````